/* top-header */
.top-header {
    background-color: #ff9800;
}

/* main-header */
.main-header {
    border: 1px solid gainsboro;
}

@media(max-width:768px) {

    /* ---------------------------------------------------------main-header------------------------------------------ */
    /* hamburger-menu */
    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: none !important;
        box-shadow: none !important;
    }

    .navbar-toggler {
        border: none !important;
        box-shadow: none !important;
        display: contents;
    }

    .navbar-toggler-icon {
        /* display: block !important; */
    }

    /* logo */
    .navbar-brand {
        margin: 0;
        padding: 0;
    }

    /* order-button */
    .btn.btn-background-animation.btn-order {
        width: 5.2rem !important;
        height: 2.8rem !important;
    }

    .mobile-navigation {
        width: 65%;
        justify-content: space-between;
        align-items: center;
    }



    /* ---------------------------------------section1----------------------------------------- */
    /* product-details-button */
    .btn.btn-background-animation.btn-product-details {
        width: 11.9rem !important;
    }
}







/* Order-Button */
.btn-order {
    /* background: #ff9800; */
    width: 7.2rem !important;
    height: 3.2rem !important;
}

.btn {
    position: relative;
    cursor: pointer;
}


.btn.btn-background-animation::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #fff;
    border: 1px solid #ff9800;
    border-radius: 0.5rem;

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
}

.btn.btn-background-animation {
    z-index: 1;
    border: none;
    background-color: #ff9800;
    color: #fff;
}

.btn.btn-background-animation:hover {
    background-color: transparent;
    color: #ff9800;
}

.btn.btn-background-animation:hover::before,
.btn.btn-background-animation:focus::before {
    transform: scaleX(1);
}




/* Section-1 */
.vigo {
    color: #ff9800;
}

.vigo-info>.dealing,
.with,
.vigo {
    font-size: 4rem;
}

.btn-product-details {
    width: 11.9rem !important;
    height: 3.2rem !important;
}

.carousel-control-next-icon:hover {
    border: 1px solid #ff9800;
}